

<ion-view hide-nav-bar="true">
<div style="       background-color: #1cb382;
    height: 45px;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 10;">
<i style='   color:white; font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    margin-top: 5px;' class="ion-ios-arrow-back" ng-click='goBack()'></i>

    <h4 style="    margin-left: 44px;color:white">{{'Contactenos'|translate}}</h4>
</div>


    <ion-content style="top: 45px; background: #E1F1F1; font-family:Ubuntu" >






<div style="   padding-top:25px;background-color: white; text-align: center;
    border-bottom: solid 2px rgba(211, 211, 211, 0.27);
    padding-bottom: 25px;">
   
   <img style='    width: 60%;' src="img/logoEcoven.jpg">
  <div style="    margin-top: 25px;">
   
    <i style="    color: #1cb382;  font-size: 27px;" ng-click='openPage("https://ecoven.cl")'  class='icon ion-ios-world'></i>
   


     
    <i style="color:#3b5998; margin-left:50px; font-size: 27px;" ng-click='openPage("https://www.facebook.com/ecoven.cl/")' class='icon ion-social-facebook'> </i>
   

         
    <i style="color:#4099FF;  margin-left:50px;font-size: 27px;" ng-click='openPage("https://twitter.com/ecoven_lat")' class='icon ion-social-twitter'> </i>


        <i style="color:darkgray;  margin-left:50px;font-size: 27px;" ng-click='openPage("https://www.instagram.com/ecoven_lat/")' class='ion-social-instagram-outline'> </i>



    

    


   
</div>
 </div>


 <div class="list">

  <label  style='background: transparent;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none !important;' class="item item-input item-select">
    <div class="input-label">
     {{'Idioma'|translate}}  
    </div>
    <select  ng-model='idiomaSeleccionado.seleccion'   ng-change='cambiarIdioma(idiomaSeleccionado.seleccion)' style='background: transparent;' >
        <option ng-repeat='l in idiomas' ng-value='l.abreviatura'   >{{l.abreviatura}}</option>
    </select>
  </label>


</div>


              



<div style="    width: 100%;
    text-align: center;">
<button style="background: #1cb382;
    margin-top: 20px;
    color: white;
" ui-sref='demo'>{{'AprendeAUsar'|translate}} </button>

</div>

    <div style="  text-align: center;
font-size: 16px;
color: #777;
width: 80%;
margin-left: 10%;
margin-top: 25px;">
        <p> <strong>{{'info1'|translate}}</strong><br> <br> {{'info2'|translate}}  <br><br> <strong>{{'info3'|translate}}  </strong><br><br> {{'info4'|translate}}  </p>

    </div>

    </ion-content>

    </ion-view >