

<ion-view hide-nav-bar="true">
<div style="       background-color: #1cb382;
    height: 45px;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 10;">
<i style='   color:white; font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    margin-top: 5px;' class="ion-ios-arrow-back" ng-click='goBack()'></i>

    <h4 style="    margin-left: 44px;color:white">Contactenos</h4>
</div>


    <ion-content style="top: 45px; background: #E1F1F1; font-family:Ubuntu" >


<div style="   padding-top:25px;background-color: white; text-align: center;
    border-bottom: solid 2px rgba(211, 211, 211, 0.27);
    padding-bottom: 25px;">
   
   <img style='    width: 60%;' src="img/logoEcoven.jpg">
  <div style="    margin-top: 25px;">
   
    <i style="    color: #1cb382;  font-size: 27px;" ng-click='openPage("https://ecoven.cl")'  class='icon ion-ios-world'></i>
   


     
    <i style="color:#3b5998; margin-left:50px; font-size: 27px;" ng-click='openPage("https://www.facebook.com/ecoven.cl/")' class='icon ion-social-facebook'> </i>
   

         
    <i style="color:#4099FF;  margin-left:50px;font-size: 27px;" ng-click='openPage("https://twitter.com/ecoven_lat")' class='icon ion-social-twitter'> </i>


        <i style="color:darkgray;  margin-left:50px;font-size: 27px;" ng-click='openPage("https://www.instagram.com/ecoven_lat/")' class='ion-social-instagram-outline'> </i>



    

    


   
</div>
 </div>
<div style="    width: 100%;
    text-align: center;">
<button style="background: #1cb382;
    margin-top: 20px;
    color: white;
" ui-sref='demo'>Aprende a usar la app</button>

</div>

    <div style="  text-align: center;
font-size: 16px;
color: #777;
width: 80%;
margin-left: 10%;
margin-top: 25px;">
        <p> <strong> Queremos saber tu opinion! </strong><br> <br>  Has experimentado algun error o sientes que algo no esta bien? No dudes en contactarnos, simplemente envia un email a <br><br> <strong> contacto@ecoven.cl </strong><br><br> Muchas Gracias, esperamos poder ayudarte! </p>

    </div>

    </ion-content>

    </ion-view >