

<ion-view hide-nav-bar="true">
<div style="       background-color: #1cb382;
    height: 45px;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 10;">
<i style='   color:white; font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    margin-top: 5px;' class="ion-ios-arrow-back" ng-click='goBack()'></i>

    <h4 style="    margin-left: 44px;color:white">Ecosocios</h4>
</div>


    <ion-content style="top: 45px; background: #E1F1F1; font-family:Ubuntu" >


<div style="  margin-top: 10px;  width: 95%;
    margin-left: 2.5%;">

<a style="
    padding-top: 8px !important;
    padding-left: 95px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
    background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">

                  <p style="
    white-space: normal;
    text-align: center;
    font-style: italic;
    font-family: UbuntuL;
    margin-top: 11px;
    "><span style="font-size:22px">"</span>  Ecovending es una opcion innovador y sin duda nos unimos a ellos  <span style="font-size:22px">"</span></p>
<div style="
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
">
   
    <i style="    color: #1cb382;  font-size: 27px;" class="icon ion-ios-world"></i>
   


     
    <i style="color:#3b5998;margin-left:50px;font-size: 27px;" class="icon ion-social-facebook"> </i>
   

         
    <i style="color:#4099FF;margin-left:50px;font-size: 27px;" class="icon ion-social-twitter"> </i>
   
</div>

   </a>


   <a style="
    padding-top: 8px !important;
    padding-left: 95px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
    background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">

                  <p style="
    white-space: normal;
    text-align: center;
    font-style: italic;
    font-family: UbuntuL;
    margin-top: 11px;
    "><span style="font-size:22px">"</span>  Descubrimos en este proyecto los valores que representan nuestra marca  <span style="font-size:22px">"</span></p>
<div style="
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
">
   
    <i style="    color: #1cb382;  font-size: 27px;" class="icon ion-ios-world"></i>
   


     
    <i style="color:#3b5998;margin-left:50px;font-size: 27px;" class="icon ion-social-facebook"> </i>
   

         
    <i style="color:#4099FF;margin-left:50px;font-size: 27px;" class="icon ion-social-twitter"> </i>
   
</div>

   </a>


   <a style="
    padding-top: 8px !important;
    padding-left: 95px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
    background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">

                  <p style="
    white-space: normal;
    text-align: center;
    font-style: italic;
    font-family: UbuntuL;
    margin-top: 11px;
    "><span style="font-size:22px">"</span>  Ecovending es una opcion innovador y sin duda nos unimos a ellos  <span style="font-size:22px">"</span></p>
<div style="
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
">
   
    <i style="    color: #1cb382;  font-size: 27px;" class="icon ion-ios-world"></i>
   


     
    <i style="color:#3b5998;margin-left:50px;font-size: 27px;" class="icon ion-social-facebook"> </i>
   

         
    <i style="color:#4099FF;margin-left:50px;font-size: 27px;" class="icon ion-social-twitter"> </i>
   
</div>

   </a>

   <a style="
    padding-top: 8px !important;
    padding-left: 95px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
    background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">

                  <p style="
    white-space: normal;
    text-align: center;
    font-style: italic;
    font-family: UbuntuL;
    margin-top: 11px;
    "><span style="font-size:22px">"</span>  Descubrimos en este proyecto los valores que representan nuestra marca  <span style="font-size:22px">"</span></p>
<div style="
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
">
   
    <i style="    color: #1cb382;  font-size: 27px;" class="icon ion-ios-world"></i>
   


     
    <i style="color:#3b5998;margin-left:50px;font-size: 27px;" class="icon ion-social-facebook"> </i>
   

         
    <i style="color:#4099FF;margin-left:50px;font-size: 27px;" class="icon ion-social-twitter"> </i>
   
</div>

   </a>




   </div>


    </ion-content>

    </ion-view >