<ion-view hide-nav-bar="true">


<ion-content style="background-color: #1cb382; font-family:Ubuntu" >


        <div class="" style="background-color: white;    height: 213px;">

                <img style="width: 100%;margin-top: 38px;width: 90%;margin-left: 5%;" src="img/logoApp.gif">
               
            

        </div>
        <div class="list" style="    width: 90%;
    margin-left: 5%;
    margin-top: 30px;">


            <input placeholder='email' type="text" class="md-input">

           <input placeholder='password' type="password" class="md-input">
        </div>

        <div class="padding">
            <button style="color: #1cb382!important; font-family:UbuntuM" ui-sref="tab.dash" class="button button-full  ink" href="#/app/inicio">Login</button>
        </div>

        <div style="text-align: center;
    font-size: 17px;
    color: #fafafa;
    margin-top:5px">
        <a style="color:white">¿Aun no eres usuario? <bold> Registrate </bold> </a><br><br>

        <a style="color:white" >¿Olvidaste tu contraseña?</a>

        </div>


    </ion-content>

    </ion-view >