

<ion-view hide-nav-bar="true">






      <script id="canjearTicket.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal4">
    <div  class="ion-modal-content-custom4">

      <ion-content class="padding">

            <div style="text-align: center;"><img style='vertical-align: bottom;height: 50px;' src="img/tik.png"> <h3 style="display:inline-block; font-family: Ubuntu;text-align: center;color: #fafafa">Ticket canjeado</h3></div>
            <div style="text-align:center"><img  style="height: 60px;
    border-radius: 7px;"  ng-src="{{url}}/ecosocio{{canjeado.idEcosocio}}.jpg?9" >

           

             </div>
             <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa"><strong>{{canjeado.titulo}}</strong></h4>




<br>

<div ng-show='canjeado.tipo == 3' >
                <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa" >Codigo WEB</h4>
               <h4 style=" font-family: Ubuntu;text-align: center;    color: darkred"><strong>{{canjeado.codigoWeb}}</strong></h4>

</div>
                <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa" >Fecha de vencimiento</h4>
               <h4 style=" font-family: Ubuntu;text-align: center;    color: darkred"><strong>{{canjeado.fechaVencimiento}}</strong></h4>





      </ion-content>
    </div>
  </ion-modal-view>
</script>


<div style="       background-color: #1cb382;
    height: 45px;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 10;">
<i style='   color:white; font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    margin-top: 5px;' class="ion-ios-arrow-back" ng-click='goBack()'></i>

    <h4 style="    margin-left: 44px;color:white">Mis Tickets</h4>
</div>


    <ion-content  scroll='false' style="top: 45px; background: #E1F1F1; font-family:Ubuntu" >


    <ion-slide-box slide-tabs-scrollable='false' show-pager="false" ion-slide-tabs>
        <ion-slide ion-slide-tab-label="Canjeables">


    <div style="position:absolute; top:0; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden;    height: calc(100% - 49px);">
               <div ng-show='cantCanjeables==0' style="    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-family: Ubuntu;
    color: #999;">No tienes tickets canjeables</div>
            <div ng-repeat='t in tickets' ng-show='t.estado==1' style="        background-color: #276AB0;margin-left: 10px; margin-right: 10px;text-align: center;margin-top: 20px;border-radius: 8px;">
                <div>
                    <div class='semicirculo'></div>

                    <div>
                        <img ng-src="{{url}}/ecosocio{{t.idEcosocio}}.jpg?3" onerror="if (this.src != 'error.jpg') this.src = 'img/logoApp.gif';" style="height: 60px;border-radius: 7px;display: inline-block;vertical-align: top;"> 
                        <div class='tituloTik' >{{t.titulo}}</div>
                    </div>
                </div>


                <div style="      text-align: left;font-size: 21px;margin-top: 15px;color: #555;">



                            <div style="    color: white;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;">*Este ticket no es acumulables con otro descuento o promocion <br> </div>

                                <button ng-click='generarTicket(t)'  style='     border-top: dashed 3px darkgray;
    border-bottom: dashed 3px darkgray;   font-family: UbuntuM;' class="button button-full button-light">
                            Generar Ticket
                            </button>


                </div>
               </div>





    </div>
        </ion-slide>
        <ion-slide ion-slide-tab-label="Historial">
            



    <div style="position:absolute; top:0; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden;    height: calc(100% - 49px);">
                              <div ng-show='cantHisto==0' style="    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-family: Ubuntu;
    color: #999;">Historial vacio</div>


            <div ng-repeat='t in tickets' ng-show='t.estado==2' style="        background-color: #fafafa;margin-left: 10px; margin-right: 10px;text-align: center;margin-top: 20px;border-radius: 8px;">
                <div>
                    <div class='semicirculo'></div>

                    <div>
                        <img style="height: 60px;border-radius: 7px;display: inline-block;vertical-align: top;" ng-src="{{url}}/ecosocio{{t.idEcosocio}}.jpg?3" onerror="if (this.src != 'error.jpg') this.src = 'img/logoApp.gif';">
                        <div class='tituloTik' style="    color: #1cb382 !important;">{{t.titulo}}</div>
                    </div>
                </div>

                <div style="     padding-bottom: 14px;   text-align: left;font-size: 21px;margin-top: 15px;    color: lightgray;
    margin-left: 12px;">
                     Activado el {{t.fechaCanje}}
                </div>

               </div>

               </div>
        </ion-slide>


      
    </ion-slide-box>


    </ion-content>

    </ion-view >