<ion-view hide-nav-bar="true" view-title="Account">





      <script id="canjearTicket.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal4">
    <div  class="ion-modal-content-custom4">

      <ion-content class="padding">

            <div style="text-align: center;"><img style='vertical-align: bottom;height: 50px;' src="img/tik.png"> <h3 style="display:inline-block; font-family: Ubuntu;text-align: center;color: #fafafa">Ticket canjeado</h3></div>
            <div style="text-align:center"><img  style="    margin-top: 15px;height: 60px;
    border-radius: 7px;"  ng-src="{{url}}/ecosocio{{canjeado.idEcosocio}}.jpg?9" >

           

             </div>
             <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa"><strong>{{canjeado.titulo}}</strong></h4>




<br>

<div ng-show='canjeado.codigoWeb !== null' ng-cloak>
                <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa" >Codigo WEB</h4>
               <h4 style=" font-family: Ubuntu;text-align: center;    color: darkred"><strong>{{canjeado.codigoWeb}}</strong></h4>

</div>


                <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa" >Fecha de vencimiento</h4>
               <h4 style=" font-family: Ubuntu;text-align: center;    color: darkred"><strong>{{canjeado.fechaVencimiento}}</strong></h4>

<br><br>
<div  >
                <h4 style="font-family: Ubuntu;text-align: center;color: #fafafa" ></h4>
               <h4 style=" font-family: Ubuntu;text-align: center;    color: darkred"><strong>{{canjeado.ticket}}</strong></h4>

</div>



      </ion-content>
    </div>
  </ion-modal-view>
</script>



<div ng-click='openModal("menu.html", "fade-in-right")' class="perfilHead " style="
    background-image: url(img/fondo.png);
    background-size: cover;
    color: white;
    text-align: center;
    height: 165px;
">



    <i ng-controller='menuButtonCtrl' ng-click='openModal("menu.html", "fade-in-right")' class="ion-navicon-round" style="
       position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
"></i>


        <div style="       padding-top: 12px;
    padding-bottom: 8px;">
       <img style='        margin-bottom: 5px;vertical-align: middle;
        height: 35px;' src="img/coin.png"> 
        <div style="      display: inline-block;  font-family: UbuntuM;color: white;font-size: 22px;">{{puntos}} Ecopuntos</div>

        </div>



<div style="
       font-size: 18px;
    font-family: Ubuntu;
    color: #777;
    padding: 0px 10px 16px 10px;
"><div style='      margin-bottom: 7px;  margin-top: 0px;' class="list list-inset">
  <label style='    padding: 0px !important;' class="item item-input">
    <i style='margin-left: 10px' class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar Producto" ng-model='busqueda.nombre'>
  </label>

 


</div>


<div style="text-align: center;font-size:16px">

                    <div style=" position:absolute; left: 0;
    margin-top:5px;display: inline-block; width:32%;text-align: center
    ">
<span style="color:white">Pais</span><br>
                    <select ng-model='filtro.pais' style="  width:100%;color:white !important;  display: inline-block;">
  <option ng-repeat='l in paises | filter:{ estado: 1 }' ng-value='l.idPais'>{{l.nombre}}</option>
                      <option  value='69' ng-selected='{{true}}' >Todos</option>
                    </select>
                </div>




                    <div style=" position:absolute; left: 33%;
                    margin-top:5px;display: inline-block;
    width:32%;text-align:center">

<span style="color:white">Distancia</span><br>

                    <select ng-disabled='noDistancia' ng-model='filtro.distancia' style="  color:white !important;  display: inline-block;width:100%" ng-change='selectDistancia(filtro.distancia)' >
                    <option  value='10000000000000000000000' selected >Todas</option>
                      <option  value='5'  >5km</option>
                      <option value='10' >10km</option>
                      <option value='15'>15km</option>
                    </select>
                </div>



                    <div style=" position:absolute;   left: 66%;
                    margin-top:5px;display: inline-block;
    width:32%;text-align:center">

<span style="color:white">Categoria</span><br>

                    <select  ng-model='filtro.subcategoria' style="  color:white !important;  display: inline-block; width:100%"  >
                    <option  value='0' selected >Todas</option>
                    <option ng-repeat='v in subcat | filter:{ estado: 1 }' ng-value='v.idSubCategoria'>{{v.nombre}}</option>
                    </select>
                </div>




</div>




<!--                 <div style="      text-align: left;
    margin-left: 10px;
    border: solid white 1px;
    padding-left: 15px;
    margin-right: 10px;">
                    <div style='color:white !important;    display: inline-block;' class="input-label">
                      Categoria
                    </div>
                    <select ng-model='busqueda.categoria' style="  color:white !important;  display: inline-block;">
                      <option  value='0' selected >Todas</option>
                      <option value='4' >Shopping</option>
                      <option value='2'>Sabores</option>
                      <option value='3'>Salud</option>
                      <option value='3'>Belleza</option>
                      <option value='1'>Panoramas</option>
                    </select>
                </div> -->
  </div>


  </div>


  <ion-content  style='   top: 166px; background: #E1F1F1;' > 


<div style="  margin-top: 10px;  width: 95%;
    margin-left: 2.5%;">
   
   <a  ng-repeat='p in productos | filter: busqueda.nombre' ng-show='(filtro.subcategoria == 0 || filtro.subcategoria == p.idSubCategoria ) && (( p.distance<filtro.distancia && p.distance !== null) || filtro.distancia == 10000000000000000000000 || p.tipo==3) && (p.idPais == filtro.pais || filtro.pais == 69)'  style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img ng-src="{{url}}/ecosocio{{p.idEcosocio}}.jpg?3" onerror="if (this.src != 'error.jpg') this.src = 'img/logoApp.gif';" style="
    border-radius: 50px;    height: auto !important;
">
<div style="
    height: 33px;
">

  <div style="
    display: inline-block;
    margin-top: 4px;font-size: 15px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> {{p.valor}}

    </div> 

        <button ng-click='showPopup(p.idProducto, p.idEcosocio, p.titulo)'  class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">{{p.descripcion}}</p>

                 <div style="white-space: normal;">  

                  <div style='margin-right: 5px' class='vineta'>{{p.categoria}}</div>
                  <div class='vineta'>{{p.subcategoria}}</div> 

                  <img style='    position: absolute;
    left: 0;
    margin-left: 8px;
    bottom: 0;
    height: 27px;'  src="img/pais{{p.idPais}}.png">



                </div>





   </a>


</div>        


  </ion-content>
</ion-view>
