

<ion-view hide-nav-bar="true">




<div ng-click='openModal("menu.html", "fade-in-right")' class="perfilHead " style="
    background-image: url(img/fondo.png);
    background-size: cover;
    color: white;
    text-align: center;
    height: 165px;
">



    <i ng-controller='menuButtonCtrl' ng-click='openModal("menu.html", "fade-in-right")' class="ion-navicon-round" style="
       position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
"></i>


        <div style="       padding-top: 12px;
    padding-bottom: 8px;">
       <img style='        margin-bottom: 5px;vertical-align: middle;
        height: 35px;' src="img/mac.png"> 
        <div style="      display: inline-block;  font-family: UbuntuM;color: white;font-size: 22px;">{{'Maquinas'|translate}}</div>

        </div>



<div style="
       font-size: 18px;
    font-family: Ubuntu;
    color: #777;
    padding: 0px 10px 16px 10px;
">




<div style="text-align: center;">

                    <div style="position: absolute; left: 10px;
    margin-top:15px;display: inline-block; width:45%;text-align: center
    ">
<span style="color:white">{{'Pais'|translate}}</span><br>
                    <select ng-model='filtro.pais' style="  width:100%;color:white !important;  display: inline-block;"
                    ng-change='selectPais(filtro.pais)' >
  <option ng-repeat='l in paises | filter:{ estado: 1 }' ng-value='l.idPais'  >{{l.nombre}}</option>
                      <option  value='69'  >{{'Todos'|translate}}</option>
                    </select>
                </div>




                    <div style="position: absolute; left: 50%;
                    margin-top:15px;display: inline-block;
    width:45%;text-align:center">

<span style="color:white">{{'Distancia'|translate}}</span><br>

                    <select ng-disabled='noDistancia' ng-model='filtro.distancia' style="  color:white !important;  display: inline-block;width:100%" ng-change='selectDistancia(filtro.distancia)' >
                    <option  value='10000000000000000000000' selected >{{'Todas'|translate}}</option>
                      <option  value='5'  >5km</option>
                      <option value='10' >10km</option>
                      <option value='15'>15km</option>
                    </select>
                </div>





</div>



  </div>


  </div>




<!--                 <div style="      text-align: left;
    margin-left: 10px;
    border: solid white 1px;
    padding-left: 15px;
    margin-right: 10px;">
                    <div style='color:white !important;    display: inline-block;' class="input-label">
                      Categoria
                    </div>
                    <select ng-model='busqueda.categoria' style="  color:white !important;  display: inline-block;">
                      <option  value='0' selected >Todas</option>
                      <option value='4' >Shopping</option>
                      <option value='2'>Sabores</option>
                      <option value='3'>Salud</option>
                      <option value='3'>Belleza</option>
                      <option value='1'>Panoramas</option>
                    </select>
                </div> -->





    <ion-content style="top: 166px; background: #E1F1F1; font-family:Ubuntu">

<div style="  margin-top: 10px;  width: 95%;
    margin-left: 2.5%;">


<div ng-show='noMaquinas' style="    font-size: 18px;
    text-align: center;
    margin-top: 32px;
    color: #999;">{{'NoMaquina'|translate}}</div>

<a style="
    padding-top: 8px !important;
    padding-left: 60px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
    background: #fafafa;
    " class="item item-thumbnail-left" ng-repeat='e in ecosocios' ng-show='e.idPais == filtro.pais || filtro.pais == 69'>

<!--                   <img  ng-src="{{url}}/ecosocio{{e.idEcosocio}}.jpg?5" style="
    border-radius: 50px;    height: auto !important;
"> -->
                  <img  ng-src="img/maquina_ecoven.png" style="
        width: auto;
    height: auto;    top: 20px;
">





<div style="
        text-align: left;    margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #444;
            font-size: 15px !important;
">


  <img ng-src="{{url}}/maquina{{e.idMaquina}}.jpg?5"  onerror="if (this.src != 'error.jpg') this.src = 'img/icon.png';" style="margin-right:5px;height: 45px;vertical-align: middle;"> {{e.ubicacionNombre}} <br><br>
  
    <img src="img/tipoMaterial.png" style="height: 25px;vertical-align: middle;"> <span ng-click="abrirMapa(e.lat,e.lon)" style="    margin-top: 7px;
    display: inline-block;">{{e.material}}</span> <br>

  <span ng-show='!noDistancia' >
   <img src="img/walk.png" style="height: 25px;vertical-align: middle;"> <span ng-click="abrirMapa(e.lat,e.lon)" style="    margin-top: 7px;
    display: inline-block;">{{'MaquinaA'|translate}} {{getDistance(e.distance)}} km</span> <br>
</span>


  <img src="img/vermapa.png" style="height: 25px;vertical-align: middle;"> <span ng-click="abrirMapa(e.lat,e.lon)" style="    margin-top: 7px;
    display: inline-block;">{{'Mapa'|translate}}</span>


  <img src="img/horario.png"  style="    margin-left: 20px;height: 25px;vertical-align: middle;"> <span ng-click='openHorario(e.horario)' style="    margin-top: 7px;
    display: inline-block;">{{'Horario'|translate}}</span>



 </div>

<!--  
               <div style="white-space: normal;">  

                  <div style='margin-right: 5px;margin-left: 8px;' class='vinetaE'>{{e.categoria}}</div>
                  <div style='margin-left: 8px;' class='vinetaE'>{{e.subCategoria}}</div> 

                </div>
 -->
   </a>
</div>




    </ion-content>

    </ion-view >