<ion-view hide-nav-bar="true" view-title="Account">


      <script id="editPerfilUs.html" type="text/ng-template">

  <ion-modal-view class="ion-nifty-modal2">

    <div  class="ion-modal-content-custom2">
    
      <ion-content class="padding">
  <i ng-click='closeModal()' style='    color: #1cb382;
    font-size: 35px;' class=" ion-android-cancel"></i>
      <div class='' style="    margin-left: 3%;margin-right: 3%;font-family: Ubuntu;    margin-top: 3%;">
                    <div  style='      color: #1cb382;
   border-bottom: solid 1px #1cb382;    margin-top: 15px;font-size: 17px !important;    padding-bottom: 13px;' >Editar Perfil</div>
                    <div class="list" >

                        <div style="margin-top:13px"><label style="    color: darkgray;
    font-size: 17px !important;">Nombre</label></div>
                        <input   ng-model='edicion.nombre' style='' placeholder='' type="text" class="inputRegistrar md-input">


                      <div style="margin-top:13px"><label style="    color: darkgray;
    font-size: 17px !important;">Lugar / Institucion</label></div>

    <select ng-model='edicion.lugar'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: darkgray;
    font-family: Ubuntu; ">

      <option ng-repeat='l in lugares' value='{{l.idLugar}}' >{{l.nombre}}</option>

    </select>



  <ion-checkbox ng-disabled='huellaCheck'  style=' border:none !important; margin-top: 23px; background-color: transparent; border:none !important, padding-left:30px'  ng-model='edicion.ranking'  ><div style="    color: darkgray;padding-left: 50px !important">Aparecer en Huella Verde? <br><br>  </div></ion-checkbox>

<div style=" color: #1cb382;
">

<span ng-show='!huellaCheck'>Participar del ranking te permitira ganar premios</span>
<span ng-show='huellaCheck'>Para ingresar al ranking nuevamente debes contactar al admin</span>

</div>


                    </div>

                         
            <button ng-click='editarUsuario(edicion)' style="margin-bottom: 55px; background-color: #1cb382!important;color: white !important; font-family:UbuntuM"  class="button button-full  ink" >Editar</button>
        
      </div> 
      <!--   <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>



  <ion-content style='    background: #E1F1F1;' > 




<div>
<div  class="perfilHead " style="
    background-image: url(img/fondo.png);
    background-size: cover;
    color: white;
    text-align: center;
">
  	<i   ng-click='editPerfil()' style='    position: absolute;
    right: 0;
    margin-top: 6px;
    font-size: 24px;
    color: white;
    height: 45px;
    width: 47px;' class="ion-edit"></i>



    <i   ng-click='cFoto()' style='    position: absolute;
    right: 0;
    margin-top: 45px;
    font-size: 24px;
    color: white;
    height: 49px;
    width: 45px;
    line-height: 2;' class="ion-image"></i>




    <i ng-controller='menuButtonCtrl' ng-click='openModal("menu.html", "fade-in-right")' class="ion-navicon-round" style="
       position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
"></i>
  	<img ng-click='cFoto()' style="
    height: 80px;
        width: 80px;
    border: solid 2px white;
    border-radius: 100px;
    margin-top: 25px;
    " ng-src="{{url}}/userP{{usuarioInfo.idUsuario}}.jpg?{{valorF}}" onerror="if (this.src != 'error.jpg') this.src = 'img/userB.png';">

    <p style="
    color: white;
    font-family: UbuntuM;
    font-size: 19px;
    margin-bottom: 1px;
">{{usuarioInfo.nombre}}</p>
    <p style="
    color: #444;
    font-size: 13px;
    font-family: UbuntuL;
">{{usuarioInfo.institucion}}</p>
    <p style="    font-family: UbuntuM;
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 0px !important;
"> <img style='    vertical-align: sub;
    height: 40px;' src="img/cerdo1.png"> {{puntos}} ecopuntos</p>
  </div>


    <div class="row" style="
    background-color: white;
    font-family: Ubuntu;text-align:center">
  <div class="col col-50">
  	
  	
  	<img src="img/gree.png" style="
    vertical-align: top;height: 35px
">
  	<div style="
    display: inline-block;
"><a style="
    font-size: 14px;
    color: #666;
">Huella Verde</a><br>
  	<a style="
    font-size: 20px;
    color: #888;
    font-family: UbuntuM;
">{{getH(huella)}}</a>
  	</div>


  </div>
  <div  style='    border-left: solid 1px rgba(211, 211, 211, 0.44);'  class="col col-50">
  	

  	<img src="img/canje.png" style="
    vertical-align: top;height: 35px
">
  	<div style="
    display: inline-block;
"><a style="
    font-size: 14px;
    color: #666;
">Canjes</a><br>
  	<a style="
   font-size: 20px;
    color: #888;
    font-family: UbuntuM;
">{{canjes}}</a>
  	</div>

  </div>

</div>


<!-- 
  <div class="row" style="     background-color: lightslategrey;
    color: white;
    text-align: center;
    border-bottom: solid 1px;
    font-size: 15px;
    font-family: UbuntuL;
    line-height: 0.9;">
  <div class="col col-33"><span style="font-family: UbuntuM;font-size: 19px;">3300</span><br><span>Puntos acumulados</span></div>
  <div class="col col-33"><span style="font-family: UbuntuM;font-size: 19px;">7 </span><br> <span>Productos canjeados</span></div>
  <div class="col col-33"><span style="font-family: UbuntuM;font-size: 19px;">3 </span><br> <span>Maquinas visitadas</span></div>
</div> -->
<!--         <div class="tabs tabs-dark tabs-icon-top static">

            <a   ng-class="{active: tipoTab == 'info'}" class="tab-item active" ng-click="tipoTab = 'info'">
                <i class="icon ion-ios-information"></i> Contactar
            </a>


            <a  ng-class="{active: tipoTab == 'video'}"  class="tab-item" ng-click="tipoTab = 'video'">
                <i class="icon ion-social-youtube"></i> Multimedia
            </a>

            <a   ng-class="{active: tipoTab == 'fotos'}" class="tab-item" ng-click="tipoTab = 'fotos'">
                <i class="icon ion-images"></i> Comentarios
            </a>




        </div>
 -->
        </div>

<!-- <div  ng-if="tipoTab == 'info'">
</div>

<div  ng-if="tipoTab == 'video'">



</div>

<div  ng-if="tipoTab == 'fotos'">
 

    </div>
 -->
 <div class="activity">


 	
 	<div style="    margin-left: 10px;
    font-size: 20px;
    font-family: UbuntuM;
    color: darkgrey;
    margin-top: 20px;
    margin-bottom: 30px;">Actividad</div>



<div ng-repeat='a in actividad' style="
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.56);
">
	
	<img ng-src="img/actividad{{a.tipo}}.png" style="
    height: 37px;   vertical-align: top; opacity: 0.7;
">
	<div style="
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 7px;
    font-size: 14px;
    font-family: UbuntuL;
">
	<p ng-show='a.tipo==1' style="color: #777;"> <strong>Has activado un codigo!</strong></p>
    <p ng-show='a.tipo==2' style="color: #777;"> <strong>Enhorabuena! Tienes un Ticket nuevo</strong></p>
    <p ng-show='a.tipo==3' style="color: #777;"> <strong>Participaste en un evento</strong></p>
<br>    
	<p style="
    color: darkgray;
    font-size: 12px;
    /* margin-bottom: 0px; */
    float: right;
    margin-right: 13px;
    margin-top: -28px;
    ">{{a.fechaCreacion}}</p>
	</div>



</div>

<!-- 

<div style="
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.56);
">
	
	<img src="img/che.png" style="
    height: 37px;    opacity: 0.7;
">
	<div style="
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 7px;
    font-size: 14px;
    font-family: UbuntuL;
">
	<p style="color: #777;">Haz activado un codigo, <strong>tu saldo es de 2250 puntos</strong>
	</p>

	<p style="
    color: darkgray;
    font-size: 12px;
    /* margin-bottom: 0px; */
    float: right;
    margin-right: 13px;
    margin-top: -28px;
    ">Hace 3 horas</p>
	</div>



</div>




<div style="
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.56);
">
	
	<img src="img/maquina.png" style="
    height: 37px;    opacity: 0.7;
">
	<div style="
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 7px;
    font-size: 14px;
    font-family: UbuntuL;
">
	<p style="color: #777;">Enhorabuena! Haz descubierto una maquina en <strong> Universidad Americana</strong>
	</p>

	<p style="
    color: darkgray;
    font-size: 12px;
    /* margin-bottom: 0px; */
    float: right;
    margin-right: 13px;
    margin-top: -28px;
    ">Hace 2 dias</p>
	</div>



</div>
 -->










 </div>









  </ion-content>
</ion-view>
