<ion-view hide-nav-bar="true" view-title="Account">


<div ng-click='openModal("menu.html", "fade-in-right")' class="perfilHead " style="
    background-image: url(img/fondo.png);
    background-size: cover;
    color: white;
    text-align: center;
">



    <i ng-controller='menuButtonCtrl' ng-click='openModal("menu.html", "fade-in-right")' class="ion-android-more-vertical" style="
       position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
"></i>


        <div style="       padding-top: 12px;
    padding-bottom: 8px;">
       <img style='        margin-bottom: 5px;vertical-align: middle;
        height: 35px;' src="img/coin.png"> 
        <div style="      display: inline-block;  font-family: UbuntuM;color: white;font-size: 22px;">1850 Ecopuntos</div>

        </div>



<div style="
       font-size: 18px;
    font-family: Ubuntu;
    color: #777;
    padding: 0px 10px 16px 10px;
"><div style='    margin-top: 0px;' class="list list-inset">
  <label style='    padding: 0px !important;' class="item item-input">
    <i style='margin-left: 10px' class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar Producto">
  </label>
</div>



  </div>

  </div>


  <ion-content  style='   top: 113px; background: #E1F1F1;' > 
<!--         <ion-scroll direction="y" class="theroot">
   

              
                <a class="item item-thumbnail-left" href="#">
                  <img src="cover.jpg">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>


                <a class="item item-thumbnail-left" href="#">
                  <img src="cover.jpg">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>


                <a class="item item-thumbnail-left" href="#">
                  <img src="cover.jpg">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>


                <a class="item item-thumbnail-left" href="#">
                  <img src="cover.jpg">
                  <h2>Pretty Hate Machine</h2>
                  <p>Nine Inch Nails</p>
                </a>


           

      </ion-scroll> -->


<div style="  margin-top: 10px;  width: 95%;
    margin-left: 2.5%;">





<!-- 
       <ion-slide-box show-pager="true" on-slide-changed="onSlideChanged($index)">
          <ion-slide ng-repeat="item in items">


          <a style='     padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px; ' class="item item-thumbnail-left"  >
                  <img src="img/jover.png  ">
                  <h2>10% en tiendas Jover</h2>
                  <p style="    white-space: normal;">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>
                </a>

<div class="box" style="
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
">

              <img src="img/jover.png" style="
    width: 50px;border-radius: 40px;
    vertical-align: middle;
"><span style="
    font-family: UbuntuM;
    color: #1cb382;
    font-size: 18px;
"> 10% en Tiendas Jover</span>
              <div style="
    font-family: Ubuntu;
    color: #777;
">Obten 10% de descuento en tu proxima compra en todas las tiendas Jover</div>
              <button class="button" style="    margin-top: 14px;
    background: #1cb382;
    color: white;
    font-family: Ubuntu;
    padding-left: 22px;
    padding-right: 22px;
    min-height: 10px;
    height: 23px;
    line-height: 0px;">Canjear Ticket</button>
            </div> 

          </ion-slide>
</ion-slide-box>
-->



   
   <a style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">
<div style="
    height: 33px;
"><div style="
    display: inline-block;
    margin-top: 4px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> 100</div> 

        <button class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>

   </a>



<a style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">
<div style="
    height: 33px;
"><div style="
    display: inline-block;
    margin-top: 4px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> 100</div> 

        <button class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>

   </a>


<a style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">
<div style="
    height: 33px;
"><div style="
    display: inline-block;
    margin-top: 4px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> 100</div> 

        <button class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>

   </a>



<a style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">
<div style="
    height: 33px;
"><div style="
    display: inline-block;
    margin-top: 4px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> 100</div> 

        <button class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>

   </a>


<a style="
    padding-top: 8px !important;
    padding-left: 106px !important;
    min-height: 100px;
    margin-bottom: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    border-radius: 5px;
        background: #fafafa;
    " class="item item-thumbnail-left">

                  <img src="img/jover.png" style="
    border-radius: 50px;
">
<div style="
    height: 33px;
"><div style="
    display: inline-block;
    margin-top: 4px;
"><img style="    vertical-align: sub;
    height: 20px;" src="img/coin.png"> 100</div> 

        <button class='button button-energized' style="
       
           float: right;
    min-height: 10px;
    height: 24px;
    line-height: 1px;
  
    ">Canjear </button> 

</div>
                  <p style="white-space:normal">Obten un 10% de descuento en tu proxima compra en tiendas Jover</p>

   </a>









   
</div>        


  </ion-content>
</ion-view>
