<ion-view hide-nav-bar="true" view-title="RANKING">
  <ion-content style='    background: #E1F1F1;'>


    <div style='     font-family: Ubuntu;   background-image: url(img/fondo.png);
    background-size: cover;
    color: white;
    ' class="rankingHead">
      
      <div style="
    text-align: center;padding-top: 10px;
">
        <p style="
    
     font-size: 23px;
    font-family: UbuntuM;
">HUELLA VERDE</p>
    <i ng-controller='menuButtonCtrl' ng-click='openModal("menu.html", "fade-in-right")' class="ion-navicon-round" style="
       position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
"></i>
<!--         <i class="ion-funnel" style="
      position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    font-size: 24px;
    margin-top: 6px;
"></i> -->
      </div>

      <div style="
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
">
      <img ng-src="{{url}}/userP{{usuarioInfo.idUsuario}}.jpg" onerror="if (this.src != 'error.jpg') this.src = 'img/userB.png';" style="
       height: 68px;
           width: 68px;
    border-radius: 60px;
    border: solid 2px #96ffdd;
">
      <p>NO. {{myRank}}</p>
      </div>

    </div>
<div class="lista">

<!-- <div class="card">
<div class="item item-text-wrap" style=" color: white;background-color: #2ed09c;">
   <i style="font-family: UbuntuM;
    font-size: 22px;">1</i>
   <img src="img/perry.png" style="     border: solid 1px;height: 50px;border-radius: 55px;vertical-align: middle;margin-left: 7px;margin-right: 7px;">
   <i style="font-family: Ubuntu;
    font-size: 19px;
">Ernesto Li</i>
   <i style="margin-right: 40px;float: right;margin-top: 14px;font-size: 22px;font-family: UbuntuM;">2300</i>
<img src="img/trof.png" style="
    position: absolute;
    right: 5px;
    height: 40px;
    margin-top: 3px;
">
   </div>
</div> -->

<div class="card" ng-repeat='r in ranking'>
<div class="item item-text-wrap" ng-class="{ 'ranking1': $index == 0,  'ranking2': $index !== 0}"  >
         <i style="font-family: UbuntuM;
          font-size: 22px;">{{$index+1}}</i>
         <img ng-src="{{url}}/userP{{r.idUsuario}}.jpg" onerror="if (this.src != 'error.jpg') this.src = 'img/userB.png';" style="     border: solid 1px;height: 45px; width: 45px;border-radius: 55px;vertical-align: middle;margin-left: 5px;margin-right: 5px;">
         <i style="font-family: Ubuntu;font-size: 17px;

      ">{{r.nombre}}</i>
         <i ng-class="{ 'rankingi2': true }" ><img  src="img/gt.png" style="    height: 34px;
    vertical-align: middle;">{{r.acumulado}}</i>

  

           


    </div>
</div>







</div>




  </ion-content>
</ion-view>
