

<ion-view hide-nav-bar="true">
<div style="       background-color: #1cb382;
    height: 45px;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 10;">
<i style='   color:white; font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    margin-top: 5px;' class="ion-ios-arrow-back" ng-click='goBack()'></i>

    <h4 style="    margin-left: 44px;color:white">Ubicaciones</h4>
</div>


    <ion-content style="top: 45px; background: #E1F1F1; font-family:Ubuntu" >
<div style="margin: 60px;
    font-family: Ubuntu;
    text-align: center;
    font-size: 18px;">
<a style='    color: #888 !important;' href="geo:38.897096,-77.036545" >Ejemplo de Ubicacion, click</a>  

</div>

    </ion-content>

    </ion-view >